<h1>Users</h1>

<div class="users-grid d-flex flex-wrap justify-content-between">
  <% @users.each do |user| %>
    <%= render user, tweets: user.tweets, links_to: { text: 'show', path: user } %>
  <% end %>

  <div class="align-self-end">
    <%= paginate @users, theme: 'twitter-bootstrap-4' %>
  </div>
</div>

